*{box-sizing: border-box;}
:root{
  --Player-grey: #1f2227;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#drum-machine{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  background-color: #99e6ff;
  width: 100vw;
  height: 100vh;
}

.player-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 30px) repeat(3, minmax(60px,1fr)) 50px;
  grid-gap: 15px;
  grid-template-areas: "tt tt tt tt tt tt tt tt tt tt tt tt"
                       ". . tx tx tx tx tx tx tx tx . ."
                       "bn bn bn bn bn bn bn bn bn bn vl vl"
                       "bn bn bn bn bn bn bn bn bn bn vl vl"
                       "bn bn bn bn bn bn bn bn bn bn vl vl"
                       ". . pw pw pw . . sw sw sw cc cc";
  width: 70%;
  max-width: 750px;
  border: 3px dashed var(--Player-grey);
  /* background: #4d4d4d;
  background: -moz-linear-gradient(top, #4d4d4d 0%, #1F2227 100%);
  background: -webkit-linear-gradient(top, #4d4d4d 0%, #1F2227 100%);
  background: linear-gradient(to bottom, #4d4d4d 0%, #1F2227 100%); */
}
#logo{
  grid-area: tt;
  border: 2px solid black;
}
#display{
  grid-area: tx;
  border: 2px solid blue;
}
#drum_buttoms{
  grid-area: bn;
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "q w e" "a s d" "z x c";
  grid-gap: 10px;


}
.drum-pad{
  display: block;
  width: 100%;
  height: 100%;
  border: 2px dashed brown;
  margin: auto;
  padding: 18px;
  text-align: center;







}
.drum-pad span{
  width: 15px;
  height: 15px;
  margin: auto;
}

 /* BUG: Volume slider need adjustments   */
#volume{
  grid-area: vl;
  border: 2px solid green;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: 1fr 20px;
  grid-template-areas:  "sl sl sl sl" "in";
  justify-items: center;
  align-items: center;

}
#vText{
  grid-area: in;
}
#volume input{
  width: 150%;
  height: 40%;
  border: 2px solid pink;
  /*transform: rotate(100deg);*/
  grid-area: sl;
  display: block;
}

/* BUG: end */

 #power, #fx , #credits{  border: 2px solid pink;}
#power{
  grid-area: pw;

}
#fx{
  grid-area: sw;

}
#credits{
  grid-area: cc;

}

/* Toggle switch css */
.switch{
  display: inline-block;
  position: relative;
  width: 100px;
  height: 20px;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider::before{
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  top: 1px;
  bottom: 4px;
  background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}
input:checked + .slider{
   background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider::before {
  -webkit-transform: translateX(74px);
  -ms-transform: translateX(74px);
  transform: translateX(74px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
